adium-theme-ubuntu==0.3.4
argcomplete==1.9.2
asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
colorama==0.3.9
cryptography==2.0.3
enum34==1.1.6
functools32==3.2.3.post2
future==0.16.0
hgapi==1.7.2
idna==2.6
intelhex==2.1
ipaddress==1.0.18
Jinja2==2.9.6
jsonpointer==1.12
jsonschema==2.6.0
MarkupSafe==1.0
mbed-test-wrapper==1.0.0
numpy==1.21.0
pathlib==1.0.1
project-generator==0.8.16
project-generator-definitions==0.2.35
pycparser==2.18
pyelftools==0.23
PyGithub==1.35
PyJWT==1.5.3
pyOCD==0.8.0
pyOpenSSL==17.3.0
pyusb==1.0.2
PyYAML==3.12
requests==2.18.4
semantic-version==2.6.0
six==1.11.0
unity-lens-photos==1.0
urllib3==1.22
valinor==0.0.15
websocket-client==0.44.0
xmltodict==0.11.0
yotta==0.18.4
